.call
	.calling Заказать звонок
	form.call__form(role="form")
		label(class="call_name")
			.call__name Ваше имя
			input(type="text" class="call__name-input" placeholder="Ваше имя" qtip-content="Вы не ввели имя" qtip-position="right")
		label(class="call-name")
			.call__name Телефон
			input(type="text" class="call__name-input" placeholder="Ваше телефон" qtip-content="Вы не ввели телефон")
		.call__date Дата звонка
		.call-date__selected
			select.call__date-select
				- for(var i = 1; i <= 12; i++)
					option(value=i)=i
		.call-date__selected
			select.call__date-select
				- for (var i = 1; i <= 30; i++)
					option(value=i)=i
		textarea(
			class="call__text"
			type="text"
			placeholder="Коментарий"
			qtip-content="Ваш комментарий"
		)
		input.submit(type="submit" value="Отправить")
		input.reset(type="reset" value="Очистить")